In [1]:
from chembl_webresource_client.new_client import new_client
import numpy as np
import pandas as pd

In [2]:
# Target search for coronavirus
target = new_client.target
target_query = target.search('coronavirus')
targets = pd.DataFrame.from_dict(target_query)
targets

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,[],Coronavirus,Coronavirus,17.0,False,CHEMBL613732,[],ORGANISM,11119
1,[],SARS coronavirus,SARS coronavirus,15.0,False,CHEMBL612575,[],ORGANISM,227859
2,[],Feline coronavirus,Feline coronavirus,15.0,False,CHEMBL612744,[],ORGANISM,12663
3,[],Human coronavirus 229E,Human coronavirus 229E,13.0,False,CHEMBL613837,[],ORGANISM,11137
4,"[{'xref_id': 'P0C6U8', 'xref_name': None, 'xre...",SARS coronavirus,SARS coronavirus 3C-like proteinase,10.0,False,CHEMBL3927,"[{'accession': 'P0C6U8', 'component_descriptio...",SINGLE PROTEIN,227859
5,[],Middle East respiratory syndrome-related coron...,Middle East respiratory syndrome-related coron...,9.0,False,CHEMBL4296578,[],ORGANISM,1335626
6,"[{'xref_id': 'P0C6X7', 'xref_name': None, 'xre...",SARS coronavirus,Replicase polyprotein 1ab,4.0,False,CHEMBL5118,"[{'accession': 'P0C6X7', 'component_descriptio...",SINGLE PROTEIN,227859
7,[],Severe acute respiratory syndrome coronavirus 2,Replicase polyprotein 1ab,4.0,False,CHEMBL4523582,"[{'accession': 'P0DTD1', 'component_descriptio...",SINGLE PROTEIN,2697049

#### Select and retrieve bioactivity data for SARS coronavirus 3C-like proteinase (fifth entry)

We will assign the fifth entry (which corresponds to the target protein, 
coronavirus 3C-like proteinase) to the ***selected_target*** variable

In [3]:
target = new_client.target
target_query = target.search('langya')
targets2 = pd.DataFrame.from_dict(target_query)
targets2

Empty DataFrame
Columns: []
Index: []

In [4]:
target = new_client.target
target_query = target.search('nipah')
targets3 = pd.DataFrame.from_dict(target_query)
targets3

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,[],Nipah virus,Nipah virus,18.0,False,CHEMBL615055,[],ORGANISM,121791

In [5]:
target = new_client.target
target_query = target.search('hendra')
targets4 = pd.DataFrame.from_dict(target_query)
targets4

Empty DataFrame
Columns: []
Index: []